@media (max-width: 1200px){

    .nav__menu-btn{
        display: flex;
    }

    .nav__list{
        position: absolute;
        top: 100%;
        right: 25px;
        padding: 0 10px;
        flex-direction: column;
        background: white;
        z-index: 100;
        transform: scaleY(0);
        opacity: 0;
        transform-origin: top;
        transition: .5s;
        display: flex;
    }

    .header__poster img {
        display: flex;
        width: 100%;
        z-index: -1;
    }

    input[type="checkbox"]:checked~ .nav__list{
        transform: scaleY(1);
        opacity: 1;
    }

    .main__news__content img{
        width: 100%;
    }

    .main__news__text-title{
        font-size: 18px;
    }

    .main__news__text-descr{
        font-size: 14px;
    }

    .footer__list{
        display: none;
    }

    
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .main__news__content{
        flex-direction: column;
    }

    .main__news__text{
        max-width: 700px;
    }

    .main__news__text-title{
        font-size: 22px;
    }

    .main__news__text-descr{
        font-size: 18px;
    }
}

@media (max-width: 576px){

    .news__block1{
        align-items: center;
        min-width: 300px;
    }

    .news__block1 img{
        width: 100%;
    }

    .news__block2{
        align-items: center;
        min-width: 300px;
    }

    .news__block2 img{
        width: 100%;
    }

    .news__block3{
        align-items: center;
        min-width: 300px;
    }

    .news__block3 img{
        width: 100%;
    }

    .news__block4{
        align-items: center;
        min-width: 300px;
    }

    .news__block4 img{
        width: 100%;
    }

    .news__block-title{
        font-size: 16px;
        max-width: 320px;
        text-align: center;
    }

    .news__block-title-descr{
        text-align: center;
        font-style: 12px;
    }

    .main__news__text{
        max-width: 500px;
    }

    .main__news__text-title{
        font-size: 18px;
    }

    .main__news__text-descr{
        font-size: 14px;
    }

    .nav__logo img{
        width: 100px;
        height: 70px;
    }

    .footer__logo img{
        width: 100px;
        height: 35px;
    }

    .footer__logo-title{
        font-size: 14px;
    }

    .footer__content{
        justify-content: center;
    }
}